@charset "UTF-8";
body {
    color: #000000;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

/*header----------------------------------------------------------*/
#header {
    width: 100%;
    height: 45px;
    background-color: black;
}

/*content----------------------------------------------------------*/
#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    width: 94%;
    padding-top: 7px;
    padding-left: 3%;
    font-size: 20px;
    color: white;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

h3{
    font-size: 25px;
}

table#user_list th {
    width: 30%;
    padding: 10px 2%;
}
table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}
table#user_list td {
    width: 29%;
    padding: 10px 2%;
}
tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #000;
    pointer-events: none;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

/*top_image----------------------------------------------------------*/
#top_image{
    margin-bottom:10px;
}

#top_image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 60% 60%;
}

/*main_content----------------------------------------------------------*/
#main_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 100px;
}

/*article(blog_article)----------------------------------------------------------*/
article{
    width: 74%;
    padding: 0 10px;
}

#blog_article{
    border-radius: 10px;
    padding: 5px 30px;
    border: 2px solid;
    margin-bottom:30px;
}
#blog_title{
    border-bottom: 1px solid;
}

#blog_date{
    padding: 10px 0;
    font-size: 15px;
    text-align: right;
}

/*aside----------------------------------------------------------*/
aside{
    width: 22%;
    border-left: 2px solid;
}
/*新規投稿*/
#new_article a{
    background: black;
    color: white;
    border-radius: 3px;
    margin: 15px 15px;
    padding: 10px 20px;
    text-decoration: none;
}

/*サイドバー*/
#profile{
    margin-bottom: 10px;
    padding: 12px 10px;
}

#profile_img{
    text-align: center;

}

#category{
    margin-bottom: 10px;
    padding: 12px 10px;
}

#archive{
    margin-bottom: 10px;
    padding: 12px 10px;
}

#sub_title{
    font-size: 20px;
    border-bottom: 2px solid;
}

/*footer----------------------------------------------------------*/
#footer {
    text-align: center;
    background-color: black;
    color: white;

}